header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}
div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}
header nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: black;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.mainstory .imagecontent {
  background-image: url(../images/mainstory.png)
}
.imagecontent {
  width: 630px;
  height: 300px;
}
.imagecontent span {
  font-size: 40px;
  text-align: left;
  color: white;
}
.story .fallseason {
  background-image: url(../images/fallseason.png)
  height: 300px;
}

.fallseason span {
  font-size: 30px;
  text-align: left;
  color: white;
}
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.story .hipstercameraman {
  background-image: url(../images/hipstercameraman.png)
}
.hipstercameraman span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.story .catceo {
  background-image: url(../images/catceo.png)
}
.catceo span {
  font-size: 30px;
  text-align: left;
  color: white;
}
